/* основной цвет текста #212121 */
/* втортчный цвет текста #757575 */
/* дополнительный цвет текста rgba(255, 255, 255, 0.6); */
/* белый цвет #ffffff */
/* акцент #2196F3 */
/* фон #F5F4FA */
/* вторичный фон #E5E5E5 */
/* #2F303A */

:root {
  --primary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --paragraph-color: #757575;
  --additional-color: rgba(255, 255, 255, 0.6);
  --black-color: black;
  --bg-color: #2f303a;
  --bg-secondary: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* шапка */

.logo {
  color: var(--accent-color);
}

.header-logo {
  color: var(--black-color);
}

/* навигация */

.nav-link {
  color: var(--primary-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-mail,
.nav-tel {
  color: var(--paragraph-color);
}

.nav-mail:hover,
.nav-tel:hover,
.nav-link:hover,
.nav-mail:focus,
.nav-tel:focus,
.nav-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--bg-color);
  color: var(--white-color);
}

/*section */

.tasks-paragraph,
.team-paragraph {
  color: var(--paragraph-color);
}

.section-team {
  background-color: var(--bg-secondary);
}

/* footer */

.footer {
  background-color: var(--bg-color);
}

.footer-logo,
.footer-address {
  color: var(--white-color);
}

.footer-mail,
.footer-tel {
  color: var(--additional-color);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-address:hover,
.footer-mail:focus,
.footer-tel:focus,
.footer-address:focus {
  color: var(--accent-color);
}

/* portfolio */

.projects-paragraph {
  color: var(--paragraph-color);
}

/*buttons */

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.filters-btn-list {
  background-color: var(--bg-secondary);
  color: var(--primary-text-color);
}

.filters-btn-list:hover,
.filters-btn-list:focus {
  color: var(--accent-color);
}
